<div class="header">
  <div class="header-content clearfix">
    <div class="nav-control">
      <div class="hamburger">
        <span class="toggle-icon"><i class="icon-menu"></i></span>
      </div>
    </div>

    <div class="header-right">
      <ul class="clearfix">
        <li class="icons dropdown d-none d-md-flex">
          <a href="javascript:void(0)" class="log-user" data-toggle="dropdown">
            <span><%= username %> </span>
            <i class="fa fa-angle-down f-s-14" aria-hidden="true"></i>
          </a>
          <div
            class="drop-down dropdown-language animated fadeIn  dropdown-menu"
          >
            <div class="dropdown-content-body">
              <ul>
                <li>
                  <a href="/admin/change-password">Change Password</a>
                </li>
                <li>
                  <a href="/admin/logout">Logout</a>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
