<div class="nk-sidebar">
  <div class="nk-nav-scroll">
    <ul class="metismenu" id="menu">
      <li class="nav-label">HelpDesk</li>
      <li>
        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
          <i class="icon-speedometer menu-icon"></i
          ><span class="nav-text">Services</span>
        </a>
        <ul aria-expanded="false">
          <li><a href="/helpdesk/add-services">Add Services</a></li>
        </ul>
      </li>
      <li class="mega-menu mega-menu-sm">
        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
          <i class="icon-globe-alt menu-icon"></i
          ><span class="nav-text">Tickets</span>
        </a>
        <ul aria-expanded="false">
          <li>
            <a href="/helpdesk/request" target="_blank"
              >View Customer Tickets</a
            >
          </li>
          <li><a href="/helpdesk/trans">View Issues </a></li>
        </ul>
      </li>
      <li class="nav-label">Reporting</li>
      <li>
        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
          <i class="icon-envelope menu-icon"></i>
          <span class="nav-text">Reports</span>
        </a>
        <ul aria-expanded="false">
          <li><a href="/helpdesk/report">View Report</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
